<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body class="bg-konten">
    <!-- sidebar -->
    <div class="d-flex">
        <div class="bg-blue sizebg">
            <div class="side">
                <img src="./images/Header/Rectangle 63.png" class="middle">
            </div>
            <div class="list-group list-group-flush">
                <div>
                    <a class="text-white text-center" href="#!" style="text-decoration: none">
                        <div>
                            <img src="./images/Header/Group 2.png" />
                        </div>
                        <div>Dashbord</div>
                    </a>
                </div>
                <div>
                    <a class="text-white bordernone text-car text-center" href="#!" style="text-decoration: none">
                        <div>
                            <img src="./images/Header/fi_truck.png" />
                        </div>
                        <div>Cars</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="d-flex" id="wrapper">
            <div class="bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading"><img src="./images/Header/Rectangle 62.png"></div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 fw-bold mt-2"
                        href="#!">CARS</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 fw-bold mt-2"
                        href="#!">List
                        Car</a>
                </div>
            </div>
        </div>

        <!-- navbar -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="btn navbar-toggler-icon" id="sidebarToggle"></button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <input class="form-control me-2" type="search" placeholder="&#xf52a; Search"
                                aria-label="Search" style="font-family: Arial, 'bootstrap-icons';">
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                            <img class="rounded-circle ms-3 size-profile" src="./images/Header/template_0.jpg">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Unis Badri
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="listCar">
                <div class="container">
                    <div class="d-flex pt-4">
                        <p class="fw-bold">Cars</p>
                        <i class="ps-2 bi bi-chevron-right"></i>
                        <p class="ps-2">List Cars</p>
                    </div>
                    <div class="d-flex">
                        <h class="fw-bold pt-4">List Cars</h>
                        <a href="/cars" type="button" class="btn bg-blue text-white mt-4 ms-auto rounded"><img
                                src="./images/Header/fi_plus.png" class="pe-3">Add New Car</a>
                    </div>
                </div>

                <div class="container">
                    <div class="d-flex">
                        <div>
                            <button type="button" class="btn listcar">All</button>
                        </div>
                        <div class="ms-4">
                            <button type="button" class="btn listcar">Small</button>
                        </div>
                        <div class="ms-4">
                            <button type="button" class="btn listcar">Medium</button>
                        </div>
                        <div class="ms-4">
                            <button type="button" class="btn listcar">Large</button>
                        </div>
                    </div>
                </div>

                <div class="container mt-4">
                    <div class="row">
                        <% cars.map((car)=> { %>
                            <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                                <div class="card shadow" style="width: 395px;">
                                    <img src="<%= car.photo %>" class="card-img-top"
                                        style="width: 392px; height: 250px;" alt="...">
                                    <div class="card-body">
                                        <p class="card-title">
                                            <%= car.name %>
                                        </p>
                                        <h5 class="card-text"> Rp. <%= car.price %> /hari</h5>
                                        <p class="card-title">
                                            <%= car.updatedAt %>
                                        </p>
                                        <div class="row">
                                            <div class="col">
                                                <a href="/delete/<%= car.id %>" type="button"
                                                    class="btn btn-outline-danger delete-button px-4 py-2"
                                                    data-bs-toggle="modal" data-bs-target="#exampleModal"><img
                                                        src="./images/Header/fi_trash-2.png" alt="">Delete</a>

                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-body text-center">
                                                                <h5 class="fw-bold">Menghapus Data Mobil</h5>
                                                                <p class="px-5 mx-4" style="font-size: 14px">
                                                                    Setelah dihapus, data mobil tidak dapat
                                                                    dikembalikan.
                                                                    Yakin ingin menghapus?
                                                                </p>
                                                            </div>
                                                            <div
                                                                class="modal-footer justify-content-center border-top-0">
                                                                <form method="post"
                                                                    action="http://localhost:8087/deleteCars/ <%= car.id %>">
                                                                    <button type="submit"
                                                                        class="btn btn-primary button-allow">
                                                                        YA
                                                                    </button>
                                                                </form>
                                                                <button type="button"
                                                                    class="btn btn-outline-primary button-deny"
                                                                    data-bs-dismiss="modal">
                                                                    TIDAK
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="edit" class="col">
                                                <a href="/update/<%= car.id %>" class="btn btn-edit px-5 py-2"><img
                                                        src="./images/Header/fi_edit.png" alt="">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>

        </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>

</html>